body{
    background: #F5F3F3; /* #DCDCDC; */
    text-align:center;
    font-family: 'Open Sans', sans-serif;
}

h2{
    margin-bottom:0px;
}

h1 {
    margin-top:50px;
    text-decoration:underline;
}

h3 {
    margin-top: 0px;
}

button {
    padding: 10px;
    font-size: 20px;
}

.toggle, #instructions {
    padding: 10px;
    margin: 0;
}

#instructions {
    display: none;
    padding-top: 0;
}

#main-container {
    width:1100px;
    margin:auto;
}

#content-container, #code {
    display:flex;
}

#map{
    margin: 25px 0;
    width: 776px;
    height: 475px;
    position: relative;
    border-style: solid;
}
.bars{
    display: flex;
    position: relative;
}
.bar-label{
    position: absolute;
}
.bar-label.dem-num{
    left: 3px;
    top: -15px;
    font-size: 20px;
}
.bar-label.rep-num{
    right: 23px;
    top: -15px;
    font-size:20px;
}
.vote-bar{
    height: 30px;
    transition: all 200ms;
    border-style:solid;
    border-width:thin;
}
.vote-bar p{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 5px;
}
.rep{
    background: #ED1C24;
    width: 0px;
}
.dem{
    background: #1E90FF;
    width: 0px;
    overflow: visible;
    white-space: nowrap;
}
.neutral{
    background: #AAAAAA;
    width: 0px;
}
.rep-num{
    text-align: right;
}
.dem-num{
    text-align: left;
}

#sliders {
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: right;                 
    height: 410px;
}

#right-sidebar {  
    width: 275px;
    margin-top: 35px;
    margin-left:20px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000000;
}

#percentage-header
{
    margin-left: 55px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

#percentage-main-header 
{
    font-size: 120%;
    text-align:center;
    margin-left: 50px;
    font-weight:bold;
}

#code {
    text-align: left;
    font-size: 16px;
}

#raw div:hover {
    background-color: yellow;
}

 /* Popup container */
.popup {
    position: relative;
    /*display: block;*/
    cursor: pointer;
    padding: -100px;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -10%; /* 90% for above */
    left: 23.5%;
    margin-left: -80px;
    display:block;
}

/* Popup arrow */
/*.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    /*visibility: visible; */
    display:block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
} 